*{
    font-family: "Microsoft YaHei UI";
}
body{
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
    max-height: 1080px;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
button{
    outline: none;
}
#cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 5555;
    position: fixed;
    display: none;
}
/*顶栏*/
#top{
    width:1920px;
    height: 61px;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.13);
    position: fixed;
    z-index: 99999999999;
}
#top2{
    width:1920px;
    height: 61px;
}
#logo{
    height: 35px;
    position: absolute;
    top:15px;
    left: 20px;
    cursor: pointer;
}
#tab{
    text-align: center;
    width: 200px;
    margin: 20px  0 0 885px;
    float: left;
    overflow: hidden;
}
.tab{
    cursor: pointer;
    margin-right: 35px;
    font-size: 25px;
    /*font-weight:600;*/
    text-align: center;
    float: left;
    width: 50px;
    height: 36px;
    /*background-color: red;*/
    transition-duration: 0.2s;
}
.tab:hover,.tab:focus{
    color:#2CBBE7 ;
    border-bottom:5px solid #2CBBE7 ;
}
.tab_active{
    color:#2CBBE7 ;
    border-bottom:5px solid #2CBBE7 ;
}
#user{
    box-sizing: border-box;
    padding-bottom: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #3C3F41;
    /*font-size: 28px;*/
    position: absolute;
    right: 30px;
    top: 15px;
    cursor: pointer;
    transition-duration: 0.5s;
}
#user:hover{
    color: #2CBBE7;
}
/*目录*/
.index_title{
    font-size: 30px;
    font-weight: bold;
}
#working{
    padding-bottom: 40px;
    margin: 33px 0 0 200px;
    /*width:1820px;*/
}
.project_list{
    margin: 45px 45px 20px 0;
    width: 288px;
    height: 162px;
    background-color: white;
    cursor: pointer;
    transition-duration: 0.5s;
    float: left;
}
.project_list>img{
    width: 288px;
    height: 162px;
}
.project_list:hover{
    box-shadow: 0 0 10px rgba(44, 187, 231,0.2);
    transform:scale(1.05);
}
.project_list:hover>#icon_plus_bg{
    background-color: #51cef5;
}
#new_project:hover>span{
    color: #51cef5;
}
#new_project>span{
    position: relative;
    top:45px;
    left:104px;
    font-size: 20px;
    color: #eeeeee;
    transition-duration: 0.5s;
}
#icon_plus_bg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #EEEEEE;
    margin: 50px auto;

    transition-duration: 0.5s;
}
#icon_plus{
    margin: 11px;
}
.cover{
    width: 288px;
    height: 162px;
    background-color: rgba(0,0,0,0.38);
    position: absolute;
    color: white;
}
.cover:hover{
    box-shadow: 0 0 10px rgba(44, 187, 231,0.2);
    transition-duration: 0.2s;
}
.cover>div{
    text-align: center;
}
.cover_name{
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}
#finish{
    margin: 60px 0 0 200px;
    width: 1520px;
}
.triangle_down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 14px solid black;
    cursor: pointer;
}
.triangle_up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid black;
    cursor: pointer;
}
#finish_title>div{
    float: left;
}
